        .line {


            border-bottom: 4px solid orange;

            width: 100%;
        }

        .line-grey {
            border-bottom: .1px solid grey;
            box-shadow: 1px 2px #888888;
            width: 100%;
        }



        /* header {
            color: #fff;
            position: fixed;
            top: 0;
            width: 100%;
        } */

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
        .sticky+.content {
            padding-top: 60px;
        }

        /* The navigation bar */
        .header {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            /* Set the navbar to fixed position */
            top: 0;
            /* Position the navbar at the top of the page */
            width: 100%;
            /* Full width */
        }